# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
+ List popular languages for Data Science
+ List popular libraries used by Data Scientist
+ List popular Data Science Tools
+ Provide examples of arithmetic expressions using Python

Some of the popular languages that Data Scientist use are:
1. Python
2. R
3. SQL
4. Java
5. Julia
6. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. PyTorch
4. Matplotlib
5. TensorFlow
6. Ggplot2

| Data Science Tools |
| -------------------- |
| Jupyter Notebook|
| Jupyter Lab |
| Apache Zeppelin |
| R Studio |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [21]:
# This is a simple  arithmetic expression to mutiply then add integers.

(3*4)+5

17

In [24]:
# This will convert 200 minutes to hours by diving by 60.

200/60

3.3333333333333335

## Author
Anibal Ramos